table{
    margin: auto;
    width:480px;
    height:480px;
}

td {
    width:60px;
    height:60px;
    border: solid 1px;
}

td.bright{
  background-color:#E6E4D8;
}

td.dark{
   background-color:#663300;
}

.jumbotron {height:100%;}