table{
    margin: auto;
    border-spacing: 2px;
    border-collapse: separate;
    font-size:30pt;
}

body {
    background:#f0f0f0;
}

td {
    width:60px;
    height:60px;
    border-radius: 5px;
    border: solid 1px #00BFFF;
}

td.bright{
  background-color:#fbfbfb;
}

td.dark{
  background-color:#c0c0c0;
}

.jumbotron {height:100%;}