


body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}










.jumbotron {height:100%;}

#error{
    color:red;
}

.right-bottom .github-fork-ribbon {
    background-color: #900;
}


#chooseRoleModalDialog{
    margin-top:30%;
    box-shadow: 10px 10px 15px #000;
}

.white{
    color:#111;
    text-shadow: 3px 3px 7px rgba(79, 79, 79, 0.52);
}

.black{
    color:#111;
    text-shadow: 3px 3px 7px rgba(79, 79, 79, 0.52);
}

.loginFrame{
    width:80%;
    height:100%;
    border:0;
}
