@(user: Option[User])
<script src="@routes.Assets.at("/deps/js/angular.min.js")"></script>
<script src="@routes.Assets.at("/javascripts/chatapp.js")"></script>
<script src="@routes.Assets.at("/javascripts/chatcontroller.js")"></script>
<div class="col-md-4" style="margin-top: 20px;" ng-app="chatapp">
    <div class="panel panel-info" id="chatwrapper" ng-controller="ChatCtrl">
        <div class="panel-heading">
            RECENT CHAT HISTORY
        </div>
        <script src="@routes.Assets.at("/deps/js/bootstrap.min.js")"></script>
        <div class="panel-body">
            <ul class="media-list">
                <!-- chat Nachrichten -->
                <li class="media" ng-repeat="msg in msgs track by $index">
                    <div class="media-body">
                        <div class="media">
                            <!-- user Image -->
                            <a class="pull-left" href="#">
                                <img class="media-object img-circle " src="assets/img/user.png" />
                            </a>
                            <!-- Chat Output -->
                            <div class="media-body" id="chattext" >
                                {{msg.txt}}
                                <br/>
                                <small class="text-muted" style="color: #aaa;">@user | Date Time</small>
                                <hr style="border-top: 1px solid #fff;"/>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="panel-footer">

            <div class="input-group">
                <form id="chatform">
                <input type="text" class="form-control" placeholder="Enter Message" value="" id="text"/>
                    <span class="input-group-btn">
                        <input type="submit" class="btn btn-info" value="SEND"/>
                    </span>
                </form>
                <script>
                    $(function(){
                        $('#chatform').submit(function(){
                            websocket.sendChatMessage($('#text').val());
                            $('#text').val("").focus();
                            return false;
                        });
                    });
                </script>
            </div>

        </div>

    </div>
</div>