@(title:String)
<head>
    <title>@title</title>
    <script src="@routes.Assets.at("javascripts/deps/jquery-2.1.1.min.js")"></script>
    <link rel="stylesheet" href="@routes.Assets.at("javascripts/deps/bootstrap.min.css")" />
    <script src="@routes.Assets.at("javascripts/deps/bootstrap.min.js")"></script>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/main.css")" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("javascripts/deps/gh-fork-ribbon.css")" />

</head>