@(gameUUID:String, playerUUID:String, user: Option[User])
<!DOCTYPE html>
<html>

@baseHeader("Game")

<script type="text/javascript">
    window._global_playerID = "@(playerUUID)";
    window._global_uuid = "@(gameUUID)";
</script>

<!--<script src="@routes.Assets.at("javascripts/modern-blink.js")"></script>  -->
<script src="@routes.Assets.at("javascripts/board.js")"></script>
<script src="@routes.Assets.at("javascripts/websocket.js")"></script>


<body class="text-center">

@baseNavBar(user)
<h2><span id="header-bar"></span></h2>

<div class="container">
    <player-info white="loading.." black="loading.."></player-info>

    <h3><span class="label label-default">
        <button type="button" class="btn-small btn-default" onClick="$('#chooseRoleModal').modal('show');">
            Choose Side
        </button>
    </span></h3>
    (You are: <span id="status"></span>)

    <div id="chooseRoleModal" class="modal fade">
        <div class="modal-dialog">
            <div  id="chooseRoleModalDialog" class="modal-content">
                <div class="modal-header">Choose your role:</div>
                    <div class="modal-body">
                        <button type="button" class="btn btn-info" onClick="websocket.becomeSpectator();">Spectator</button>
                        <button type="button" class="btn btn-info" onClick="websocket.becomeWhitePlayer();">White</button>
                        <button type="button" class="btn btn-info" onClick="websocket.becomeBlackPlayer();">Black</button>
                    </div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>

<div class="game-container" style="margin-bottom:200px;>
    <div class="row">
        <div class="col-md-8" style="margin-top: 20px;">

                <chess-board data="" light="" size="normal"></chess-board>


        </div>
            <!-- CHAT -->
            @baseChat(user)
    </div>
</div>
</div>
</body>
</html>
