@(gameList: List[model.ActiveGame], user: Option[User])
<html>

@baseHeader("Game List")

<body>
<script>
          function deleteGame(uri){
            $.ajax({
                url: uri,
                type: 'DELETE',
                success: function(result) {
                    window.location.reload();
                }
            });
          }
</script>

@baseNavBar(user)
    <div class="container">


        <div class="panel panel-default">
            <div class="panel-heading">Existing Games:</div>
            <div class="panel-body">
                <ul class="list-group">
                    @for(game <- gameList){
                    <li class="list-group-item">
                        <button onclick="deleteGame('@routes.Application.game(game.uuid)')" class="btn-xs btn-warning">Delete</button>
                        <a href="@routes.Application.game(game.uuid)" class="btn-xs btn-primary">Join</a>
                        <span class="label label-default">@game.uuid</span>
                    </li>
                    }
                </ul>
            </div>
        </div>
        <br/>
        <p><a class="btn-primary btn-lg" role="button" href="/">Go Back</a></p>
    </div>

</body>
</html>
