@(gameList: List[model.ActiveGame], user: Option[User])
<html>
    @baseHeader("Game List")
    <body>
    @baseNavBar(user)

    <div class="panel panel-default">
        <div class="panel-heading">Existing Games:</div>
        <div class="panel-body">
            <ul class="list-group">
                @for(game <- gameList){
                    <li class="list-group-item">
                        <a href="@routes.Application.deleteGame(game.uuid)" class="btn-xs btn-warning deleteGame">Delete</a>
                        <a href="@routes.Application.game(game.uuid)" class="btn-xs btn-info">Join</a>
                        <span class="label label-default">@game.uuid</span>
                    </li>
                }
            </ul>
        </div>
    </div>

    <script>
        // Use delete instead of get method
        $(function() {
            $(".deleteGame").click(function(event) {
                    event.preventDefault();
                    console.log($(this).attr('href'));
                    $.delete($(this).attr('href'), function(){window.location.reload();});
            });
        });
    </script>
    </body>
</html>
