@(gameList: List[model.ActiveGame], user: Option[User])
<html>

@baseHeader("Game List")

<body>
<script>
          function deleteGame(uri){
            $.ajax({
                url: uri,
                type: 'DELETE',
                success: function(result) {
                    window.location.reload();
                }
            });
          }
</script>

@baseNavBar(user)
<div class="row">
    <div style="text-align: center">
        <h3><span class="label label-success center">Games created by @user.get.main.email</span></h3>
    </div>
</div>
<br>
<div class="container">
                <ul class="list-group">
                    <li class="list-group-item row">
                        <div class="col-md-3"><b>Delete Game</b></div>
                        <div class="col-md-3"><b>Join Game</b></div>
                        <div class="col-md-3"><b>Game-Id</b></div>
                        <div class="col-md-3"><b>Created On</b></div>
                    </li>

                    @for(game <- gameList){
                            <li class="list-group-item row">
                                <div class="col-md-3">
                                    <button onclick="deleteGame('@routes.Application.game(game.uuid)')"
                                        class="btn-xs btn-warning">Delete
                                    </button>
                                </div>

                                <div class="col-md-3">
                                    <a href="@routes.Application.game(game.uuid)"
                                       class="btn-xs btn-primary">Join
                                    </a>
                                </div>

                                <div class="col-md-3">
                                    <span class="label label-default">
                                            @game.uuid
                                    </span>
                                </div>

                                <div class="col-md-3">
                                    <span class="label label-default">
                                            @game.createdOn.toString("dd.MM.yyyy HH:mm:ss")
                                    </span>
                                </div>
                            </li>
                    }
                </ul>
                <span class="label label-default">@gameList.size games created by you!</span>
    </div>

</body>
</html>
