@(gameUUID:String)

<!-- Function to determine whether a field has to be bright or dark coloured -->
@brightOrDarkField(x: Int, y: Int) = @{
  if((x+y) % 2 == 0){
    "dark"
  }else{
    "bright"
  }
}

<html>
<head>
    <!-- Load jQuery -->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Load Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <script type="text/javascript"> window._global_uuid = "@(gameUUID)";</script>

    <script src="@routes.Assets.at("javascripts/figures.js")"></script>
    <script src="@routes.Assets.at("javascripts/game.js")"></script>

    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/main.css")" />

</head>
<body class="text-center">
<h1 id="header-bar">Wait</h1>

<table class="text-center" style="font-size:30pt;">
    @for(x <- 1 to 8){
    <tr>
        @for(y <- 1 to 8){
            <td id="@x:@y" class="@brightOrDarkField(x,y) field" onClick="game.clickedField(@x,@y)"></td>
        }
    </tr>
    }
</table>
<p id="status"></p>

</body>
</html>
