@(gameUUID:String)

<!-- Function to determine whether a field has to be bright or dark coloured -->
@brightOrDarkField(x: Int, y: Int) = @{
  if((x+y) % 2 == 0){
    "dark"
  }else{
    "bright"
  }
}

<html>
<head>
    <script src="@routes.Assets.at("javascripts/deps/jquery-2.1.1.min.js")"></script>
    <link rel="stylesheet" href="@routes.Assets.at("javascripts/deps/bootstrap.min.css")" />

    <script src="@routes.Assets.at("javascripts/deps/bootstrap.min.js")"></script>

    <script type="text/javascript"> window._global_uuid = "@(gameUUID)";</script>

    <script src="@routes.Assets.at("javascripts/figures.js")"></script>
    <script src="@routes.Assets.at("javascripts/game.js")"></script>

    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/main.css")" />

</head>
<body class="text-center">
<h1 id="header-bar">Wait</h1>

<table class="text-center">
    @for(x <- 0 to 7){
    <tr>
        @for(y <- 0 to 7){
            <td id="@x@y" class="@brightOrDarkField(x,y) field" onClick="game.clickedField(@x,@y)"></td>
        }
    </tr>
    }
</table>
<p id="status"></p>

</body>
</html>
