<html>
<head>
    <!-- Load Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <!-- Load Our Css -->
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/main.css")" />
</head>

<body>
<div class="jumbotron text-center">
    <h1>Welcome to Chess-Online</h1>
    <p>View the source on <a href="http://www.github.com/jahoefne">GitHub</a></p>
    <p><a class="btn-primary btn-lg" role="button" href="./game/new">New Game!</a></p>
</div>
</body>
</html>
